body {
    font-family: 'jetbrains mono', sans-serif;
    /* text-align: center; */
    background-color: #222;
    color: #ff69b4;
}

.heading {
    text-align: center;
    font-size: 3em;
}

.wrapper {
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    background-color: #222;
    text-align: center;
}

video, #photo {
    max-width:1200px;

}

.function-btn {
    background-color: rgb(250, 112, 227)!important;
}

#countdown {
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 3em;
}

.camera {
    width: 100%;
}

button, .btn {
    width: 150px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: hotpink;
    color: #222;
    border:none;
    cursor: pointer;
    padding: 1%;
    margin: 10px;
    box-shadow: 0px 8px 15px rgba(253, 242, 247, 0.2);

}





.btn-icon {
width:18px;
}

.btn:hover, button:hover {
    box-shadow: 0px 8px 15px rgba(253, 242, 247, 0.404);

}

#camera-icon {
    width:40px;
}


a {
    text-decoration: none;
    color: #fff;
    padding:1%;
}

.hide {
    display:none!important;
}

#photo {
    width: 80%;
    background-color: #fff;
}

